<app-header [doctorName]="doctorName"></app-header>
<section class="buttons flex justify-center items-center">
    <button mat-raised-button (click)="openAddDialog()">Add</button>
    <button mat-raised-button>Delete</button>
    <button mat-raised-button  
            matTooltip="Sends mail to patients whose checkup is due in 5 days"
            (click)="sendEmail()">Send Reminders</button>
</section>
<br>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="patientsList" class="mat-elevation-z8">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && !isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">

                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox 
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">

                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let patient">{{ patient.name }}</td>
        </ng-container>

        <!-- Disease Column -->
        <ng-container matColumnDef="disease">
            <th mat-header-cell *matHeaderCellDef>Disease</th>
            <td mat-cell *matCellDef="let patient">{{ patient.disease }}</td>
        </ng-container>

        <!-- Medicine Column -->
        <ng-container matColumnDef="medicine">
            <th mat-header-cell *matHeaderCellDef>Medicine</th>
            <td mat-cell *matCellDef="let patient">{{ patient.medicine }}</td>
        </ng-container>

        <!-- Initial Checkup Date Column -->
        <ng-container matColumnDef="initialCheckupDate">
            <th mat-header-cell *matHeaderCellDef>Initial Checkup Date</th>
            <td mat-cell *matCellDef="let patient">{{ patient.initialCheckupDate | date:'yyyy-MM-dd' }}</td>
        </ng-container>

        <!-- Next Checkup Date Column -->
        <ng-container matColumnDef="nextCheckupDate">
            <th mat-header-cell *matHeaderCellDef>Next Checkup Date</th>
            <td mat-cell *matCellDef="let patient">{{ patient.nextCheckupDate | date:'yyyy-MM-dd' }}</td>
        </ng-container>


        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let patient">
                <button mat-icon-button color="primary" (click)="openEditDialog(patient.id)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>
    <mat-paginator #paginator class="paginator" [length]="totalItems" (page)="handlePageEvent($event)"
        [pageSize]="pageSize" [pageSizeOptions]="[5,10,20]" [pageIndex]="pageIndex">
    </mat-paginator>


</div>